/* 子应用样式 */
h1 {
  color: red;
}
#sub-app {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.header {
  /* 子应用样式 会覆盖主应用样式 */
  background-color: #009688;
}
.header h1::after {
  content: '【子应用选择器伪元素】';
}
